@page "/"

@using FitWifFrens.Data
@using FitWifFrens.Web.Components.Account
@using Microsoft.EntityFrameworkCore

@inject IdentityUserAccessor UserAccessor
@inject DataContext DataContext

<PageTitle>FitWifFrens</PageTitle>

<h1>FitWifFrens!</h1>

<p>Where fitness goals meet a touch of scope creep,<br/> 
	becoming your all-in-one commitment tracker with a side of camaraderie</p>

@if (_commitments != null)
{
    <div class="row">
        <div class="col">
            <h3>Commitments Available</h3>
        </div>
    </div>
    <div class="row">
        @foreach (var commitment in _commitments.Where(c => !c.Complete))
        {
            <div class="col-sm-3">
                <div class="card">
                    <img src="@commitment.Image" class="card-img-top" alt="@commitment.Title">
                    <div class="card-body">
                        <h5 class="card-title">@commitment.Title</h5>
                        <p class="card-text">@commitment.Description</p>
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="row mt-5">
        <div class="col">
            <h3>Historical Commitments</h3>
        </div>
    </div>
    <div class="row">
        @foreach (var commitment in _commitments.Where(c => c.Complete))
        {
            <div class="col-sm-3">
                <div class="card">
                    <img src="@commitment.Image" class="card-img-top" alt="@commitment.Title">
                    <div class="card-body">
                        <h5 class="card-title">@commitment.Title</h5>
                        <p class="card-text">@commitment.Description</p>
                    </div>
                </div>
            </div>
        }
    </div>
}

@code {

    private List<CommitmentData>? _commitments;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        var user = await UserAccessor.GetUserAsync(HttpContext);

        var commitments = await DataContext.Commitments.Include(c => c.Providers).Include(c => c.Users).ToListAsync();

        if (user == null)
        {
            _commitments = await DataContext.Commitments.Select(c => new CommitmentData
                {
                    Id = c.Id,
                    Title = c.Title,
                    Description = c.Description,
                    Image = c.Image,
                    Amount = c.Amount,
                    ContractAddress = c.ContractAddress,
                    Complete = c.Complete,
                    Committed = null,
                    HasRequiredProviders = null,
                    TotalCommitted = c.Users.Count
                }).ToListAsync();
        }
        else
        {
            var userCommitments = await DataContext.CommittedUsers.Where(cu => cu.UserId == user.Id).ToListAsync();

            var userLogins = await DataContext.UserLogins.Where(cu => cu.UserId == user.Id).ToListAsync();

            _commitments = commitments.Select(c => new CommitmentData
                {
                    Id = c.Id,
                    Title = c.Title,
                    Description = c.Description,
                    Image = c.Image,
                    Amount = c.Amount,
                    ContractAddress = c.ContractAddress,
                    Complete = c.Complete,
                    Committed = userCommitments.Any(uc => uc.CommitmentId == c.Id),
                    TotalCommitted = c.Users.Count,
                    HasRequiredProviders = c.Providers.All(p => userLogins.Any(l => l.LoginProvider == p.ProviderName)),
                    MissingProviders = c.Providers.Where(p => userLogins.Any(l => l.LoginProvider != p.ProviderName)).Select(p => p.ProviderName).ToArray()
                }).OrderBy(c => !c.Committed).ToList();
        }


    }


    private class CommitmentData
    {
        public Guid Id { get; set; }

        public string Title { get; set; }
        public string Description { get; set; }
        public string Image { get; set; }

        public int Amount { get; set; }

        public string ContractAddress { get; set; }

        public bool Complete { get; set; }

        public bool? Committed { get; set; }
        public bool? HasRequiredProviders { get; set; }
        public string[]? MissingProviders { get; set; }
        public int TotalCommitted { get; set; }
    }
}